Repository Opentrons/opentrons-modules, pull requests merged in 2022-06, with the labels that each got.

#313 chore(thermocycler-gen2): Fan PWM at 1kHz
  stm32-modules/thermocycler-gen2/firmware/thermal/thermal_fan_hardware.c
Labels: WIP

#315 feat(thermocycler-gen2): read fan tachometers
  stm32-modules/include/thermocycler-gen2/firmware/thermal_fan_hardware.h
  stm32-modules/include/thermocycler-gen2/firmware/thermal_plate_policy.hpp
  stm32-modules/include/thermocycler-gen2/test/test_thermal_plate_policy.hpp
  stm32-modules/include/thermocycler-gen2/thermocycler-gen2/gcodes.hpp
  stm32-modules/include/thermocycler-gen2/thermocycler-gen2/host_comms_task.hpp
  stm32-modules/include/thermocycler-gen2/thermocycler-gen2/messages.hpp
  stm32-modules/include/thermocycler-gen2/thermocycler-gen2/thermal_plate_task.hpp
  stm32-modules/thermocycler-gen2/firmware/system/stm32g4xx_hal_msp.c
  stm32-modules/thermocycler-gen2/firmware/thermal/README.md
  stm32-modules/thermocycler-gen2/firmware/thermal/thermal_fan_hardware.c
  stm32-modules/thermocycler-gen2/firmware/thermal/thermal_plate_policy.cpp
  stm32-modules/thermocycler-gen2/simulator/thermal_plate_thread.cpp
  stm32-modules/thermocycler-gen2/tests/test_host_comms_task.cpp
  stm32-modules/thermocycler-gen2/tests/test_m103d.cpp
  stm32-modules/thermocycler-gen2/tests/test_thermal_plate_task.cpp
Labels: Ready for review

#319 fix(heater-shaker): initialize temperature setpoint to std::nullopt
  stm32-modules/heater-shaker/tests/test_heater_task.cpp
  stm32-modules/heater-shaker/tests/test_message_passing.cpp
  stm32-modules/include/heater-shaker/heater-shaker/heater_task.hpp
Labels: Ready for review, heater/shaker

#290 feat(heater-shaker): add heatpad current sensing
  stm32-modules/heater-shaker/firmware/heater_task/heater_hardware.c
  stm32-modules/heater-shaker/firmware/heater_task/heater_hardware.h
  stm32-modules/heater-shaker/firmware/heater_task/heater_policy.cpp
  stm32-modules/heater-shaker/firmware/heater_task/heater_policy.hpp
  stm32-modules/heater-shaker/simulator/heater_thread.cpp
  stm32-modules/heater-shaker/src/errors.cpp
  stm32-modules/heater-shaker/tests/test_heater_policy.cpp
  stm32-modules/include/heater-shaker/heater-shaker/errors.hpp
  stm32-modules/include/heater-shaker/heater-shaker/heater_task.hpp
  stm32-modules/include/heater-shaker/test/test_heater_policy.hpp
Labels: Ready for review, heater/shaker
